ul.projectContainer {
  grid-column: 1 / 13;
  padding-inline-start: 0;
  margin: 0;
  margin-top: var(--margin-text) !important;
}

li.project > a {
  text-decoration: none;
}

li.project .projectTitleWrapper {
  grid-column: 1 / 7;

  display: flex;
  align-items: end;
  gap: 4px;
}

li.project .projectTitleWrapper .title,
li.project .client,
li.project .year {
  text-decoration: underline;
}

.imageCount {
  padding-bottom: 2px;
}

li.project .projectTitleWrapper::before {
  content: "•";
  margin-right: 0.5em;
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-thickness: none !important;
}

li.project > a span:nth-child(2) {
  grid-column: 7 / 11;
}
li.project > a span:nth-child(3) {
  grid-column: 12 / 13;
}

.coverMedia {
  position: absolute !important;
  top: var(--margin-page) !important;
  right: var(--margin-page) !important;
  height: var(--content-height) !important;
  width: auto !important;
  z-index: -1;
}

.galleryWrapper {
  position: absolute;
  top: var(--margin-page);
  left: var(--margin-page);
  width: calc(100vw - (2 * var(--margin-page)));
  height: var(--content-height);

  z-index: -1;
}

.galleryWrapper :global(.carousel) {
  padding-left: max(0px, calc((100vw - (2 * var(--margin-page))) - (var(--content-height) * var(--cover-aspect, 1))));
}

/* Project Page */
.projectFooter {
  display: flex;

  position: absolute;
  bottom: var(--margin-page);
  z-index: 10;
  gap: 5px;
}

.projectInfoOverlay {
  position: absolute;
  top: var(--margin-page);
  left: var(--margin-page);
  width: calc(100vw - (2 * var(--margin-page)));
  height: calc(var(--content-height) - var(--margin-text));
  z-index: 5;
  background: var(--background);
  padding-top: var(--margin-text);

  overflow: auto;
}

.projectInfoCover {
  width: 210px;
  height: auto;
}

.projectInfoText h3 {
  margin: 0 0 var(--margin-page);
}

.projectInfoText .description {
  margin-block-start: var(--margin-text);
  margin-block-end: var(--margin-text);
}

li.creditRow::before {
  content: "•";
  margin-right: 0.5em;
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-thickness: none !important;
}

.projectFooter .projectTitle::before {
  content: "•";
  margin-right: 0.5em;
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-thickness: none !important;
}

.backButton {
  position: absolute;
  left: var(--margin-page);
  top: calc(var(--margin-page) + var(--header-height) + var(--margin-text));
}
