.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh !important;
  width: 100dvw !important;
}

.coverMediaContainer {
  width: 150px;
  height: calc(150px * 1.2);
  position: relative;
}
