.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh !important;
  width: 100dvw !important;
}

.coverMediaContainer {
  width: 150px;
  height: calc(150px * 1.2);
  position: relative;
}

.coverMediaItem {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
}

.coverMediaItemActive {
  opacity: 1;
  z-index: 1;
}
