.gridViewSection {
  box-sizing: border-box;
  min-height: 100vh;
}

.gridView {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--margin-page);
}

.gridCard {
  align-self: start;
}

.gridCardLink {
  display: block;
  text-decoration: none;
}

.gridCardTitle {
  display: block;
  color: var(--foreground) !important;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.gridCardMedia {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .gridView {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 769px) and (max-aspect-ratio: 4/3) {
  .gridView {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 769px) and (min-aspect-ratio: 16/10) {
  .gridView {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
