.carousel_outer {
  max-width: 100vw;
  margin: auto;
  user-select: none;
  cursor: grab;
  overflow: hidden;
  touch-action: pan-x pinch-zoom;
  overscroll-behavior: contain;
}

.carousel_outer:active,
.carousel_outer:active * {
  cursor: grabbing !important;
}

.carousel_inner {
  display: flex;
  touch-action: pan-x pinch-zoom;
}
.slide {
  height: var(--content-height);
  margin-right: var(--margin-page);
}

.slide:last-child {
  margin-right: 0px;
}
