.header {
  position: fixed;
  z-index: 20;
}

.activeNavLink {
  font-weight: bold;
  text-decoration: none;
  color: var(--foreground);
}

a.homeLink {
  text-decoration: none;
}

a.homeLink:visited,
a.homeLink {
  color: unset;
}
