/* Mobile Project Slug */

.projectPage {
  min-height: var(--content-height);
  display: grid;
  grid-template-rows: 1fr auto;
}

.projectContent {
  min-height: 0;
}

@media (min-width: 48rem) {
  .desktopProjectPage {
    display: block;
  }
}

.gallery {
  margin-block-start: 2em;
  margin-block-end: 2em;
}

.gallery .stack {
  width: min(100%, 700px);
  max-width: calc(100vw - (2 * var(--margin-page)));
}

.gallery .overview {
  columns: 6;
  gap: calc(var(--margin-page) / 2);
}
.gallery .overview > div,
.gallery .stack > div {
  margin-bottom: var(--margin-page);
}

.projectFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  padding-top: var(--margin-page);
}

.projectTitle {
  display: inline-block;
}

.projectInfoOverlay {
  position: absolute;
  top: var(--margin-page);
  left: var(--margin-page);
  width: calc(100vw - (2 * var(--margin-page)));
  height: calc(var(--content-height) - var(--margin-text));
  z-index: 5;
  background: var(--background);
  padding-top: var(--margin-text);
  overflow: auto;
}

.projectInfoInner {
  display: block;
}

.projectInfoCover {
  width: 210px;
  height: auto;
}

.projectInfoText h3 {
  margin: 0 0 var(--margin-page);
}

.description {
  margin-block-end: 2em;
}

li.creditRow {
  position: relative;
  padding-left: 1em;
}

.backButton {
  position: absolute;
  left: var(--margin-page);
  top: calc(var(--margin-page) + var(--header-height) + var(--margin-text));
}
