:root {
  --background: #ffffff;
  --foreground: #000000;
  --link-color: #0050ff;

  --margin-page: 8px;
  --spacing: 2em;

  --header-height: 88px;
  --content-height: calc(100dvh - ((2 * var(--margin-page)) + var(--header-height)));
}

@media screen and (min-width: 769px) {
  :root {
    --header-height: 55px;
  }
}

html {
  overscroll-behavior: none;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html.dark {
  --background: #121212 !important;
  --foreground: #fbfbfb !important;
}

* {
  box-sizing: border-box;
}

*,
*::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a:visited,
a:visited *,
a:-webkit-any-link {
  color: var(--link-color);
}

p {
  margin: 0;
}

section {
  margin-bottom: var(--spacing);
}

section:last-of-type {
  margin-bottom: 0;
}

button {
  all: unset; /* removes default button styles */
  cursor: pointer;
  text-decoration: underline;
  color: var(--link-color);
}

/* optional: match visited/hover if you care */
button:hover {
  text-decoration: underline;
}

/* active state */
button.active {
  font-weight: bold; /* behaves like <strong> */
  text-decoration: none;
  color: var(--foreground);
  cursor: default;
}

*:focus,
*:focus-visible,
*:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

mux-player {
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;
  --gradient-shadow: none;
  --media-loading-indicator-display: none;
  --media-background-color: var(--background);
  --media-background-color: transparent;
  pointer-events: none !important;
  background-color: transparent !important;
  background: transparent !important;
}

mux-player::part(control-bar) {
  opacity: 1 !important;
  --gradient-steps: none !important;
}

mux-player .mux-spinner {
  display: none !important;
}
